.about {
  border-radius: 50% 50% 0% 0% / 7% 7% 85% 85%;
  background: linear-gradient(0deg, $mostly-black 0, $footer-bcg 100%);
  min-height: 447px;
}

.about__desc {
  padding: 53px 0 17px;
  letter-spacing: 0.1px;

  p {
    @include font(12, 15, 600);
    margin: 0;
    color: $main-white;
  }

  span {
    color: $vivid-yellow;
  }
}

.about__work-schedule {
  margin-bottom: 48px;

  p {
    @include font(12, 15, 600);
    margin: 0;
    color: $vivid-yellow;
    padding-bottom: 3px;
  }
}

.about__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.about__list-item {
  @include font(12, 15, 600);
    color: $main-white;
}

.about__more {
  @include font(12, 15, 500);
  color: $main-white;
  margin: 0;
  padding-bottom: 20px;

  a {
    color: $vivid-yellow;
  }
}
