.footer {
  flex: 0 0 auto;
  padding-bottom: 45px;
}

.footer__wrapper {
  min-height: 287px;
  background-color: $footer-bcg;
  border-radius: 20px;
  padding: 29px 33px 22px;

  a,
  p,
  h2 {
    @include font(12, 15, 400);
    color: $main-white;
  }

  h2 {
    font-weight: 700;
    margin: 0;
    text-align: center;
    padding-bottom: 23px;
  }
}

.footer__contacts-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.footer__contacts-item {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;

  &:last-child {
    padding-bottom: 0;
  }

  p {
    margin: 0;
  }
}

.footer__social-list {
  @include reset-list;
  display: flex;
  margin-top: 18px;

  li {
    margin-right: 15px;
  }
}
