.intro {
  position: relative;
  width: 100%;

  h1,
  p {
    margin: 0;
  }

  h1 {
    @include font(61, 51, 800);
    background: linear-gradient(0deg, $vivid-yellow 0%, $main-white 100%);
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-bottom: 5px;

    @media (min-width: $tablet-width) {
      text-align: left;
      @include resize-txt(135, 105);
      padding-bottom: 18px;
      order: -2;
    }
  }

  p {
    @include font(12, 15, 400);
    color: $main-white;
    letter-spacing: -0.1px;
    text-align: center;

    @media (min-width: $tablet-width) {
      @include resize-txt(26, 32);
      font-weight: 500;
      text-align: left;
      padding-left: 9px;
      letter-spacing: 0.0px;
      order: -2;
    }
  }

  strong {
    color: $vivid-yellow;
  }
}

.intro__wrapper {
  padding: 0 9px 20px;
  position: relative;
  min-height: 525px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 20px;
    min-height: 768px;
    display: flex;
    flex-flow: column wrap;
  }
}

.intro__offer {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
    margin-bottom: 41px;
    order: -2;
  }

  p {
    color: $vivid-yellow;
    @include font(21, 26, 700);
    letter-spacing: 0;
    padding-bottom: 2px;
    text-align: left;

    @media (min-width: $tablet-width) {
      @include resize-txt(35, 43);
    }
  }

  span {
    border-bottom: 1px solid $vivid-yellow;
  }
}

.intro__list {
  padding-left: 19px;
  margin-top: 63px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    width: 560px;
    padding-left: 43px;
    margin-top: 33px;
    margin-bottom: 46px;
  }
}

.intro__item {
  @include font(14, 17, 400);
  color: $main-white;
  padding-bottom: 24px;
  letter-spacing: 0.15px;

  @media (min-width: $tablet-width) {
    @include resize-txt(20, 24);
    font-weight: 600;
    padding-bottom: 34px;
    letter-spacing: 0;
  }

  span {
    border-bottom: 1px solid $main-white;
  }

  a {
    color: $vivid-yellow;
  }
}
