.intro {
  position: relative;
  width: 100%;

  h1,
  p {
    margin: 0;
  }

  h1 {
    @include font(61, 51, 800);
    background: linear-gradient(0deg, $vivid-yellow 0%, $main-white 100%);
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-bottom: 5px;

    @media (min-width: $tablet-width) {
      text-align: left;
      @include resize-txt(135, 105);
      padding-bottom: 18px;
    }
  }

  p {
    @include font(12, 15, 400);
    color: $main-white;
    letter-spacing: -0.1px;
    text-align: center;

    @media (min-width: $tablet-width) {
      @include resize-txt(26, 32);
      font-weight: 500;
      text-align: left;
      padding-left: 9px;
      letter-spacing: 0.0px;
    }
  }
}

.intro__wrapper {
  padding: 0 9px;
  position: relative;
  min-height: 565px;

  @media (min-width: $tablet-width) {
    padding: 0;
    min-height: 845px;
  }
}

.intro__offer {
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
  }

  p {
    color: $vivid-yellow;
    @include font(16, 20, 700);
    letter-spacing: 0;
    padding-bottom: 2px;
    text-align: left;

    @media (min-width: $tablet-width) {
      @include resize-txt(35, 43);
    }
  }

  span {
    border-bottom: 1px solid $vivid-yellow;
  }
}

.intro__list {
  padding-left: 15px;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    width: 525px;
    padding-left: 28px;
    margin-top: 71px;
    margin-bottom: 46px;
  }
}

.intro__item {
  @include font(14, 17, 400);
  color: $main-white;
  padding-bottom: 11px;
  letter-spacing: 0.15px;

  @media (min-width: $tablet-width) {
    @include resize-txt(18, 22);
    font-weight: 600;
    padding-bottom: 31px;
    letter-spacing: 0;
  }

  span {
    border-bottom: 1px solid $main-white;
  }

  a {
    color: $vivid-yellow;
  }
}
