// Color

$main-black: #000000;
$main-white: #ffffff;
$vivid-yellow: #c7e80a;
$btn-more: #bac625;
$hover-btn: #e3fd50;
$mostly-black: #242222;
$footer-bcg: #432545;

// Gradient



// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

//fonts

$montserrat: "Montserrat", "Arial", sans-serif;

//transition

$trans--300:  0.3s ease-in-out;

//retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
