.button-link {
  @include flex-center;
  width: 100%;

  &--map {
    min-height: 35px;
    border: 1px solid $vivid-yellow;
    background-color: transparent;
    color: $vivid-yellow;
    @include font(10, 12, 500);

    @media (min-width: $tablet-width) {
      @include resize-txt(15, 18);

      &:hover,
      &:focus-visible {
        background-color: $vivid-yellow;
        color: $mostly-black;
        transition: $trans--300;
      }

      &:active {
        opacity: 0.7;
      }
    }
  }

  &--intro {
    max-width: 366px;
    background-color: $vivid-yellow;
    min-height: 50px;
    color: $mostly-black;
    @include font(14, 17, 600);
    border-radius: 30px;
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      min-height: 71px;
      margin-left: 10px;
      @include resize-txt(18, 22);
      order: -1;

      &:hover,
      &:focus-visible {
        border: 1px solid $vivid-yellow;
        background-color: transparent;
        transition: $trans--300;
        color: $main-white;
      }

      &:active {
        opacity: 0.7;
      }
    }
  }
}
