@mixin font($size, $lh, $weight) {
  font-family: $montserrat;
  font-size: $size + px;
  line-height: $lh + px;
  font-weight: $weight;
  font-style: normal;
}

@mixin resize-txt($size, $lh) {
  font-size: $size + px;
  line-height: $lh + px;
}
